{% extends 'base.html'%}
{%block title%} LOGIN {%endblock%}
{%block css%} <style></style> {%endblock%}
{%block body%}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <div class="card-title">Login</div>
                </div>
                <div class="card-body">
                    <form action="{% url 'users:user_login' %}" method="post" enctype="multipart/form-data">
                        {%csrf_token%}
                        <div class="form-group">
                            <input type="email" name="email" id="" placeholder="Enter email" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="password" name="password1" id="" placeholder="Enter password" required>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-info">Login</button>
                        <a href="{% url 'users:forgot_password' %}">Forgot Password</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}

{%block js%}
<script></script> {%endblock%}